{layout ABSOLUTE_PATH . '/../app/adminModule/templates/@layout.latte'}

{block stylesheet}
    <style>
        #grid thead .checker input[type="checkbox"] { display: none; }
    </style>
{/block}

{block javascript}
    <script>
        {* Zozbiera zakliknute checkboxy v Grido do inputu *}
        function getCheckedPackages() {
            let ids = [];

            $('#grid tbody input[type="checkbox"]:checked').each(function () {
                ids.push(this.value);
            });

            $('#frm-dhlExport-form input[name="ids"]').val(ids.join());

            if (ids.length) {
                $('#frm-dhlExport-form input[type="submit"]').removeClass('disabled');
            } else {
                $('#frm-dhlExport-form input[type="submit"]').addClass('disabled');
            }
        }

        // $('#grid thead .checker input[type="checkbox"]').on('click', function(e) {
        //     e.preventDefault();
        //
        //     let val = $(this).prop('checked');
        //
        //     $(this).prop('checked', !val);
        //
        //     $('#grid tbody .checker input[type="checkbox"]').prop('checked', !val);
        //
        //     getCheckedPackages();
        // });

        $('#grid tbody input[type="checkbox"]').on('change', getCheckedPackages);

        getCheckedPackages();

        {* Overi ci maju oznacene baliky vytlacenu etiketu *}
        $('input[name="closing_day"]').on('click', function() {
            let ids = $('#frm-dhlExport-form input[name="ids"]').val().split(',');
            let check = true

            $.each(ids, function (key, id) {
                if ($.trim($('tr.grid-row-' + id + ' .grid-cell-printed_at').text()) == 'NIE') {
                    check = false;
                }
            });

            if (check === false) {
                alert({_'Minimálne jedna zásielka z označených nemá vytlačenú etiketu.'});
                return false;
            }
        });

        {* Odstrani checkbox na exportovanych balikoch *}
        // $('#grid tbody .exported').each(function () {
        //     let tr = $(this).closest('tr');
        //
        //     if (tr.find('.printed').length) {
        //         tr.find('.checker input[type="checkbox"]').remove();
        //     }
        // });

        {* Označí/Odznačí všetky checkboxy *}
        $('.checked-all').on('click', function() {
            let checkBoxes = $('#grid tbody input[type="checkbox"]');
            checkBoxes.prop("checked", !checkBoxes.prop("checked"));

            getCheckedPackages();

            return false;
        });
    </script>
{/block}


{block content}

{include default-filter.latte}

{control dhlExport, 'buttons.latte'}

<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="checked-all" href="#">{_'Označiť všetky'}</a>
        </div>

        <div class="panel-body custom-align">
            {control grid}
        </div>
    </div>
</div>


