<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="btn btn-text" role="button" data-toggle="collapse" href="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                {_'Filter'}
            </a>
        </div>

        <div class="panel-body {if !$filter}collapse{/if}" id="collapseFilter">
            {form filter}
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group float-label">
                            <input class="form-control" n:name="order_id">
                            {label order_id /}
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group float-label">
                            <input class="form-control" n:name="package_number">
                            {label package_number /}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group float-label">
                            <input class="form-control" n:name="company_name">
                            {label company_name /}
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group float-label">
                            <input class="form-control" n:name="name">
                            {label name /}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group float-label">
                            <input class="form-control" n:name="city">
                            {label city /}
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group float-label">
                            <input class="form-control" n:name="zip_code">
                            {label zip_code /}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group float-label">
                            <input class="form-control" n:name="cod_from">
                            {label cod_from /}
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group float-label">
                            <input class="form-control" n:name="cod_to">
                            {label cod_to /}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group float-label">
                            <select class="form-control" n:name="currency"></select>
                            {label currency /}
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group float-label">
                            <input class="form-control" n:name="invoice_number">
                            {label invoice_number /}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group float-label">
                            <select class="form-control" n:name="printed"></select>
                            {label printed /}
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group float-label">
                            <select class="form-control" n:name="exported"></select>
                            {label exported /}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group float-label">
                            <input class="form-control" n:name="date_from">
                            {label date_from /}
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group float-label">
                            <input class="form-control" n:name="date_to">
                            {label date_to /}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group float-label">
                            <select class="form-control" n:name="type"></select>
                            {label type /}
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group float-label">
                            <select class="form-control" n:name="country"></select>
                            {label country /}
                        </div>
                    </div>
                </div>

                <input class="btn btn-primary" n:name="submit">
                <a n:if="$filter" class="btn btn-text" n:href="this, 'filter' => null">{_'Resetovať'}</a>
            {/form}
        </div>
    </div>
</div>