{if count($packages) == 0}
    <p class="text-muted">{_'Informácie o balíkoch neznáme'}</p>
{else}
    <table class="table">
        <thead>
            <tr>
                <th>{_'Číslo balíka'}</th>
                <th>{_'Stav'}</th>
            </tr>
        </thead>

        <tbody>
            <tr n:foreach="$packages as $package">
                <td>{$package->package_number}</td>
                <td><small>{isset($statusList[$package->status]) ? $statusList[$package->status] : _('neznámy')}</small></td>
            </tr>
        </tbody>
    </table>
{/if}