<h1 style="text-align: center;">{_'Zoznam všetkých balíkov'}</h1>

<div style="border-bottom: 1px solid #000000;">
<strong>{_'Vytlačené'} {date('d.m.Y H:i:s')}
&nbsp;&nbsp;&nbsp;
{_'Firma'}: {$shopSettings['tradeName']}, {$shopSettings['tradeAddressStreet']}, {$shopSettings['tradeAddressZipCode']} {$shopSettings['tradeAddressCity']}, {$shopSettings['tradeAddressState']}
</strong>
</div>

<br>

<table style="width: 100%;">
    <tr>
        <td>{_'Č. balíku:'}</td>
        <td style="width: 65px; text-align: right;">{_'Dobierka:'}</td>
        <td style="width: 65px; text-align: right;">{_'Pripoistenie:'}</td>
        <td>{_'Zak. ref.:'}</td>
        <td>{_'Adresa:'}</td>
        <td style="width: 50px;">{_'PSČ:'}</td>
        <td>{_'Kontakt:'}</td>
        <td>{_'Tel.:'}</td>
        <td>{_'Var. sym.:'}</td>
        <td style="width: 20px;">{_'Z.:'}</td>
        <td>{_'Pozn.:'}</td>
    </tr>

    <tr n:foreach="$packages as $package">
        <td><strong>{$package->getNumber()}</strong></td>

        <td style="text-align: right;"><strong n:if="$package->getPayment()" style="white-space: nowrap;">{$package->getPayment()->getCodPrice()} {$package->getPayment()->getCodCurrency()}</strong></td>

        <td>{if $package->getPayment() && $package->getPayment()->getInsurPrice() > 0}{$package->getPayment()->getInsurPrice()} {$package->getPayment()->getInsurCurrency()}{/if}</td>

        <td> </td>

        <td><small>{$package->getRecipient()->getName2() ? $package->getRecipient()->getName() . ', '}{$package->getRecipient()->getStreet()}, {$package->getRecipient()->getCity()}</small></td>

        <td><strong>{$package->getRecipient()->getZipCode()}</strong></td>

        <td>{$package->getRecipient()->getName2() ? $package->getRecipient()->getName2() : $package->getRecipient()->getName()}</td>

        <td>{$package->getRecipient()->getPhone()}</td>

        <td>{$package->getPayment() ? $package->getPayment()->getCodVarSymbol()}</td>

        <td style="text-align: right;"><strong>{$package->getRecipient()->getCountry()}</strong></td>

        <td><small>{$package->getNote()}</small></td>
    </tr>
</table>

<p><strong>{_'Čísla balíkov, dobierkové čiastky a adresy uvedené v tomto zozname sa zhodujú s údajmi na balíkoch odovzdaných DHL.'}</strong></p>

<p><strong>{_'Podpis vodiča:'} ............................ &nbsp;&nbsp;&nbsp; {_'Podpis odovzdávajúceho:'} ............................</strong></p>