<div class="col-xs-12">
    <div class="panel panel-default">
        {form form}
            <div n:if="$form->hasErrors()" n:foreach="$form->errors as $error" class="alert alert-info">
                {$error}
            </div>

            <div class="panel-body">
                <input n:name="generate_labels" class="btn btn-default">
                <input n:name="generate_transfer_list" class="btn btn-default">
                <input n:name="closing_day" class="btn btn-default">
                <input n:if="$options['pickupButton']" n:name="create_pickup" class="btn btn-default">
                <input n:name="saturday" class="btn btn-default">
                <input type="hidden" name="ids">
            </div>
        {/form}
    </div>
</div>