{form form}
    <div class="panel panel-default dhl">
        <div class="panel-heading">
            DHL
        </div>

        <div n:if="$form->hasErrors()" n:foreach="$form->errors as $error" class="alert alert-info">
            {$error}
        </div>

        <div class="panel-body">
            {*<div class="row">*}
                {*<div class="col-sm-6">*}
                    <div class="form-group">
                        <label for="from">{_'Dátum'}</label>
                        <input type="date" name="date" class="form-control">
                    </div>
                {*</div>*}

                {*<div class="col-sm-6">*}
                    {*<div class="form-group">*}
                        {*<label for="to">{_'Do'}</label>*}
                        {*<input type="date" name="to" class="form-control">*}
                    {*</div>*}
                {*</div>*}
            {*</div>*}

            <div>
                <a href="#" class="btn btn-default btn-xs checkin">{_'Označiť všetky'}</a>
                <a href="#" class="btn btn-default btn-xs checkout">{_'Odznačiť všetky'}</a>

                <div class="pull-right">{_'Označené'}: <span class="checked">0</span></div>
            </div>

            <div style="height: 425px; overflow: scroll; margin: 15px 0; background-color: #f5f5f5;">
                <table class="table table-striped table-hover dhl-packages">
                    {foreach $list as $item}
                        {var $order = $item->order}
                        {continueIf !isset($userInfoList[$order->id])}
                        {var $userInfo = $userInfoList[$order->id]}

                        <tr data-date="{$order->complete_date|date:'Y-m-d'}">
                            <td>
                                {if !$item->exported_at}
                                    <input type="checkbox" name="ids[]" value="{$item->id}">
                                {/if}
                            </td>

                            <td class="item" title="{_'Kliknutím zobraziť viac info'}">
                                <div>
                                    <small>{_'ID objednávky'}:</small> {$order->order_id}
                                    {if $order->count_packages > 1}<small>{_'Balík'}:</small> {$item->package_count}/{$order->count_packages}{/if}
                                </div>

                                <div class="hidding" style="display: none;"><small>{_'Dátum objednávky'}:</small> {$order->complete_date|date:'d.m.Y, H:i'}</div>

                                <div class="hidding" style="display: none;"><small>{_'Číslo balíka'}:</small> {$item->package_number ?: 'nevygenerované'}</div>

                                <div class="showing">{$userInfo->realFirstName} {$userInfo->realLastName}, {$userInfo->city}</div>

                                <div class="hidding" style="display: none;">
                                    <small>{_'Dodacia adresa'}:</small><br>
                                    {if $userInfo->setOtherAddress == 1}
                                        {$userInfo->shipping_realFirstName} {$userInfo->shipping_realLastName}<br>
                                        {$userInfo->shipping_zipCode} {$userInfo->shipping_city}, {$userInfo->shipping_country_id ? $userInfo->shipping_country->title : $userInfo->shipping_state}
                                    {else}
                                        {if $userInfo->setCompanyInfo == 1}
                                            {$userInfo->companyName} - {$userInfo->realFirstName} {$userInfo->realLastName}<br>
                                            {$userInfo->companyZipCode} {$userInfo->companyCity}, {$userInfo->companyCountry_id ? $userInfo->companyCountry->title : $userInfo->companyState}
                                        {else}
                                            {$userInfo->realFirstName} {$userInfo->realLastName}<br>
                                            {$userInfo->zipCode} {$userInfo->city}, {$userInfo->country_id ? $userInfo->country->title : $userInfo->state}
                                        {/if}
                                    {/if}
                                </div>

                                <div class="hidding" style="display: none;">
                                    <small>{_'Tel. kontakt'}:</small>
                                    {if $userInfo->setOtherAddress == 1}
                                        {$userInfo->shipping_phone ? $userInfo->shipping_phone : $userInfo->phone}
                                    {else}
                                        {$userInfo->phone}
                                    {/if}
                                </div>

                                <div n:if="$order->payment_method_id == $options['paymentMethodCOD'] || $order->cod > 0" {if $item->exported_at}class="hidding" style="display: none;"{/if}>
                                    <small>{_'Dobierka'}: <strong>{$order->cod == 0 ? $order->order_price_with_tax + $order->delivery_price + $order->payment_price : $order->cod|price}</strong></small>
                                </div>

                                <div n:if="$item->exported_at" {if $item->status}class="hidding" style="display: none;"{/if}>
                                    <small>{_'Odoslané do DHL'}:</small> {$item->exported_at|date:'d.m.Y, H:i'}
                                </div>

                                <div n:if="$item->status">
                                    <small>{_'Stav'}:</small> {\WameCms\Dhl\Repositories\DhlRepository::getStatus($item->status)}
                                </div>
                            </td>

                            <td class="text-right">
                                <a href="{plink ShopOrders:detail, 'id' => $order->id}" class="btn btn-default btn-xs">{_'Detaily'}</a>
                            </td>
                        </tr>
                    {/foreach}
                </table>
            </div>

            <div class="text-center">
                <p>
                    <input n:name="generate_labels" class="btn btn-default">
                    <input n:name="generate_transfer_list" class="btn btn-default">
                </p>

                <input n:name="closing_day" class="btn btn-default">
                <input n:if="$options['pickupButton']" n:name="create_pickup" class="btn btn-default">
            </div>
        </div>
    </div>
{/form}

<script>
    // Click on table row
    $('table.dhl-packages td.item').on('click', function() {
        $(this).find('.hidding').toggle();
        $(this).find('.showing').toggle();

        $(this).closest('tr').toggleClass('active');

        let checkboxes = $(this).closest('tr').find('input');
        checkboxes.prop('checked', !checkboxes.prop('checked'));

        countChecked();
    });

    // Click on checkbox
    $('table.dhl-packages input[type=checkbox]').on('click', function() {
        let tr = $(this).closest('tr');

        tr.find('.hidding').toggle();
        tr.find('.showing').toggle();
        tr.toggleClass('active');

        countChecked();
    });

    // Date change
    $('#frm-dhlExport-form input[name=date]').on('change', function() {
        $('table.dhl-packages input[type=checkbox]').prop('checked', 0);
        $('table.dhl-packages .hidding').hide();
        $('table.dhl-packages .showing').show();
        $('table.dhl-packages tr.active').removeClass('active');

        let date = $(this).val();

        if (date) {
            $('table.dhl-packages tr').hide();
            $('table.dhl-packages tr[data-date=' + date + ']').show();
        } else {
            $('table.dhl-packages tr').show();
        }

        countChecked();
    });

    // Click on button for check all inputs
    $('#frm-dhlExport-form .checkin').on('click', function() {
        $('table.dhl-packages tr:visible input[type=checkbox]').prop('checked', 1);
        countChecked();
    });

    // Click on button for uncheck all inputs
    $('#frm-dhlExport-form .checkout').on('click', function() {
        $('table.dhl-packages input[type=checkbox]').prop('checked', 0);
        countChecked();
    });

    // Count checked checkboxes
    function countChecked() {
        $('#frm-dhlExport-form span.checked').text($('table.dhl-packages input[type=checkbox]:checked').length);
    }
</script>